.reveal {
    font-size: 60px;
}

.reveal .slides {
    /*text-align: left;*/
}

.reveal section img {
    border: 0;
    box-shadow: none;
    background: none;
}

.reveal section .big-img {
    height: 800px;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: inherit;
}

.reveal table th, .reveal table td {
    border-right: 1px solid;
}

.reveal table th:last-child, .reveal table td:last-child {
    border-right: none;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

pre.code.code-large code {
    height: 900px;
    max-height: inherit;
}
